.bgPrimary {
  background-color: #187875;
}
.textPrimary {
  color: #187875;
}
.bgSecondary {
  background-color: #6daf2c;
}
.textSecondary {
  color: #60ab13;
}
.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253) !important;
}
.textHover {
  text-decoration: none;
}
.textHover:hover {
  text-decoration: underline;
}
.coverPhoto {
  background-position: top;
}
.cursor {
  cursor: pointer;
}
.cardHover:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.picture-container {
  margin: 0 auto;
  overflow: hidden;
  background-position: 50% 30%;
}
.picture-img {
  height: 300px;
  width: 100%;
}
.overFlowY {
  overflow-y: scroll;
}
.aside {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}
.chat {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.conversationListHover:hover {
  background-color: rgb(102, 165, 247);
  cursor: pointer;
}
.commentBoxPostDetails {
  position: absolute;
  right: 18%;
  bottom: 40%;
  font-size: 15px;
}
.zIndex {
  position: sticky;
  top: 0;
  z-index: 9999;
}
