.bgPrimary {
  background-color: #187875;
}
.textPrimary {
  color: #187875;
}
.bgSecondary {
  background-color: #6daf2c;
}
.textSecondary {
  color: #60ab13;
}
.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253) !important;
}
.textHover {
  text-decoration: none;
}
.textHover:hover {
  text-decoration: underline;
}
.coverPhoto {
  background-position: top;
}
.cursor {
  cursor: pointer;
}
.cardHover:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.picture-container {
  margin: 0 auto;
  overflow: hidden;
  background-position: 50% 30%;
}
.picture-img {
  height: 300px;
  width: 100%;
}
.overFlowY {
  overflow-y: scroll;
}
.commentBg {
  background-color: whitesmoke;
}
