.bgPrimary {
  background-color: #187875;
}
.textPrimary {
  color: #187875;
}
.bgSecondary {
  background-color: #6daf2c;
}
.textSecondary {
  color: #60ab13;
}
.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253) !important;
}
.imgSize {
  width: 100px;
  height: 80px;
}
