.smallProfile {
  width: 8%;
  height: 8%;
  border-radius: 50%;
}
.smProfile {
  width: 5%;
  height: 5%;
  border-radius: 50%;
}
.commentBoxPosition {
  position: absolute;
  right: 11%;
  bottom: 33%;
  font-size: 24px;
}
@media (max-width: 576px) {
  .commentBoxPosition {
    right: 18%;
    bottom: 38%;
    font-size: 18px;
  }
}
.hr {
  margin: 0rem 0;
}
.skyColor {
  color: #dd2a7b;
}
.bgGray {
  background-color: gainsboro;
}
.coursor {
  cursor: pointer;
}
